<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_8595dda90b1645c1b5071908e913fa15 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_8595dda90b1645c1b5071908e913fa15" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_8595dda90b1645c1b5071908e913fa15 = L.map(
        'map_8595dda90b1645c1b5071908e913fa15', {
        center: [29.892464, 11.576124],
        zoom: 1.5,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_7b299de2987b4536afba69b6e3f7d829 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_8595dda90b1645c1b5071908e913fa15);
    
            var feature_group_d9a4578764324ef785e3005a2df345b9 = L.featureGroup(
                ).addTo(map_8595dda90b1645c1b5071908e913fa15);
        
    
            var circle_marker_1111fe5f383a4c41ac7a6bd2d50b0785 = L.circleMarker(
                [-6.8491, 125.0425],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 16.6698,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_d9a4578764324ef785e3005a2df345b9);
            
    
            var popup_f132c7dc7b714732a90dbb4ffad8ae42 = L.popup({maxWidth: '100%'
            
            });

            
                var html_25c5c51ac2524b95a0bfaf4f58732535 = $(`<div id="html_25c5c51ac2524b95a0bfaf4f58732535" style="width: 100.0%; height: 100.0%;">Magnitude: 6.3 Zeitpunkt: Sat Apr  6 23:55:01 2019</div>`)[0];
                popup_f132c7dc7b714732a90dbb4ffad8ae42.setContent(html_25c5c51ac2524b95a0bfaf4f58732535);
            

            circle_marker_1111fe5f383a4c41ac7a6bd2d50b0785.bindPopup(popup_f132c7dc7b714732a90dbb4ffad8ae42)
            ;

            
        
    
        circle_marker_1111fe5f383a4c41ac7a6bd2d50b0785.bindTooltip(
            `<div>`
            + `197km NNW of Dili, East Timor` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_f483389a140f4e6db737e366372b7f59 = L.circleMarker(
                [-55.9323, -27.8457],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 18.308333333333334,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_d9a4578764324ef785e3005a2df345b9);
            
    
            var popup_0889d72391d2464aa79584988a61b248 = L.popup({maxWidth: '100%'
            
            });

            
                var html_16ca58795650418ebf27ee3a3674b09b = $(`<div id="html_16ca58795650418ebf27ee3a3674b09b" style="width: 100.0%; height: 100.0%;">Magnitude: 6.5 Zeitpunkt: Fri Apr  5 18:14:16 2019</div>`)[0];
                popup_0889d72391d2464aa79584988a61b248.setContent(html_16ca58795650418ebf27ee3a3674b09b);
            

            circle_marker_f483389a140f4e6db737e366372b7f59.bindPopup(popup_0889d72391d2464aa79584988a61b248)
            ;

            
        
    
        circle_marker_f483389a140f4e6db737e366372b7f59.bindTooltip(
            `<div>`
            + `94km NNW of Visokoi Island, South Georgia and the South Sandwich Islands` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_295603768e73400a8ce801e0878b8365 = L.circleMarker(
                [33.866, -117.7276667],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 3.1363920666666663,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_d9a4578764324ef785e3005a2df345b9);
            
    
            var popup_e3be6905e3a945989ba516df642986b2 = L.popup({maxWidth: '100%'
            
            });

            
                var html_8768a9e4645a41318c1a437191c47bb0 = $(`<div id="html_8768a9e4645a41318c1a437191c47bb0" style="width: 100.0%; height: 100.0%;">Magnitude: 3.61 Zeitpunkt: Wed Apr  3 14:06:22 2019</div>`)[0];
                popup_e3be6905e3a945989ba516df642986b2.setContent(html_8768a9e4645a41318c1a437191c47bb0);
            

            circle_marker_295603768e73400a8ce801e0878b8365.bindPopup(popup_e3be6905e3a945989ba516df642986b2)
            ;

            
        
    
        circle_marker_295603768e73400a8ce801e0878b8365.bindTooltip(
            `<div>`
            + `8km ESE of Yorba Linda, CA` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_6f8408a0788a49dd9997d6893d869928 = L.circleMarker(
                [52.1553, 178.0705],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 17.47626666666667,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_d9a4578764324ef785e3005a2df345b9);
            
    
            var popup_e39eaf9487dd44aa9c4a95d5126e1b64 = L.popup({maxWidth: '100%'
            
            });

            
                var html_a5632bf02fbd491e9bfff2413334bf35 = $(`<div id="html_a5632bf02fbd491e9bfff2413334bf35" style="width: 100.0%; height: 100.0%;">Magnitude: 6.4 Zeitpunkt: Tue Apr  2 23:35:30 2019</div>`)[0];
                popup_e39eaf9487dd44aa9c4a95d5126e1b64.setContent(html_a5632bf02fbd491e9bfff2413334bf35);
            

            circle_marker_6f8408a0788a49dd9997d6893d869928.bindPopup(popup_e39eaf9487dd44aa9c4a95d5126e1b64)
            ;

            
        
    
        circle_marker_6f8408a0788a49dd9997d6893d869928.bindTooltip(
            `<div>`
            + `32km E of Kiska Volcano, Alaska` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_cc4f1561fd3a43b89e6c7eac4dc7cb75 = L.circleMarker(
                [-1.9858, -80.8081],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 15.888533333333335,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_d9a4578764324ef785e3005a2df345b9);
            
    
            var popup_2375e928021644ffb942ba5def8a992c = L.popup({maxWidth: '100%'
            
            });

            
                var html_0226b5ea63a4431ba3a90b01a2cc59a6 = $(`<div id="html_0226b5ea63a4431ba3a90b01a2cc59a6" style="width: 100.0%; height: 100.0%;">Magnitude: 6.2 Zeitpunkt: Sun Mar 31 09:04:04 2019</div>`)[0];
                popup_2375e928021644ffb942ba5def8a992c.setContent(html_0226b5ea63a4431ba3a90b01a2cc59a6);
            

            circle_marker_cc4f1561fd3a43b89e6c7eac4dc7cb75.bindPopup(popup_2375e928021644ffb942ba5def8a992c)
            ;

            
        
    
        circle_marker_cc4f1561fd3a43b89e6c7eac4dc7cb75.bindTooltip(
            `<div>`
            + `27km N of Santa Elena, Ecuador` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_2c752e76662640c7b5e36431d4bbec2c = L.circleMarker(
                [4.5629, -76.2231],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 15.132066666666665,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_d9a4578764324ef785e3005a2df345b9);
            
    
            var popup_1f9df8d49321456f826a5ea37a727770 = L.popup({maxWidth: '100%'
            
            });

            
                var html_f828cd6a84ff4ee3ac6b05dd79115a5c = $(`<div id="html_f828cd6a84ff4ee3ac6b05dd79115a5c" style="width: 100.0%; height: 100.0%;">Magnitude: 6.1 Zeitpunkt: Sat Mar 23 20:21:18 2019</div>`)[0];
                popup_1f9df8d49321456f826a5ea37a727770.setContent(html_f828cd6a84ff4ee3ac6b05dd79115a5c);
            

            circle_marker_2c752e76662640c7b5e36431d4bbec2c.bindPopup(popup_1f9df8d49321456f826a5ea37a727770)
            ;

            
        
    
        circle_marker_2c752e76662640c7b5e36431d4bbec2c.bindTooltip(
            `<div>`
            + `3km WSW of Versalles, Colombia` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_c5b91b95e30f4a5a8c4edb2e190f1c3f = L.circleMarker(
                [-15.5965, 167.6551],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 16.6698,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_d9a4578764324ef785e3005a2df345b9);
            
    
            var popup_f353e1a6bf154a7a89d47609c791e85c = L.popup({maxWidth: '100%'
            
            });

            
                var html_7eb1b66836c74e45a94f48bc88c78a68 = $(`<div id="html_7eb1b66836c74e45a94f48bc88c78a68" style="width: 100.0%; height: 100.0%;">Magnitude: 6.3 Zeitpunkt: Wed Mar 20 16:23:58 2019</div>`)[0];
                popup_f353e1a6bf154a7a89d47609c791e85c.setContent(html_7eb1b66836c74e45a94f48bc88c78a68);
            

            circle_marker_c5b91b95e30f4a5a8c4edb2e190f1c3f.bindPopup(popup_f353e1a6bf154a7a89d47609c791e85c)
            ;

            
        
    
        circle_marker_c5b91b95e30f4a5a8c4edb2e190f1c3f.bindTooltip(
            `<div>`
            + `52km E of Luganville, Vanuatu` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_7940c9afe0434f1587f158dad1a3d638 = L.circleMarker(
                [-17.8744, -65.9072],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 16.6698,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_d9a4578764324ef785e3005a2df345b9);
            
    
            var popup_921d905098d047caa426657bd722a1d8 = L.popup({maxWidth: '100%'
            
            });

            
                var html_4a5287b78eff4bb59a433772b8a29811 = $(`<div id="html_4a5287b78eff4bb59a433772b8a29811" style="width: 100.0%; height: 100.0%;">Magnitude: 6.3 Zeitpunkt: Fri Mar 15 06:03:50 2019</div>`)[0];
                popup_921d905098d047caa426657bd722a1d8.setContent(html_4a5287b78eff4bb59a433772b8a29811);
            

            circle_marker_7940c9afe0434f1587f158dad1a3d638.bindPopup(popup_921d905098d047caa426657bd722a1d8)
            ;

            
        
    
        circle_marker_7940c9afe0434f1587f158dad1a3d638.bindTooltip(
            `<div>`
            + `30km S of Cliza, Bolivia` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_04bca5169a2b4f3b8efa7f19a92a027b = L.circleMarker(
                [19.3258333, -155.2005],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 11.335430933333333,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_d9a4578764324ef785e3005a2df345b9);
            
    
            var popup_e80633944b8a42debe15a838aa2ae20a = L.popup({maxWidth: '100%'
            
            });

            
                var html_c2fc407b36ea4fe795b1aedf7dde58b7 = $(`<div id="html_c2fc407b36ea4fe795b1aedf7dde58b7" style="width: 100.0%; height: 100.0%;">Magnitude: 5.54 Zeitpunkt: Wed Mar 13 11:55:13 2019</div>`)[0];
                popup_e80633944b8a42debe15a838aa2ae20a.setContent(html_c2fc407b36ea4fe795b1aedf7dde58b7);
            

            circle_marker_04bca5169a2b4f3b8efa7f19a92a027b.bindPopup(popup_e80633944b8a42debe15a838aa2ae20a)
            ;

            
        
    
        circle_marker_04bca5169a2b4f3b8efa7f19a92a027b.bindTooltip(
            `<div>`
            + `12km SSE of Volcano, Hawaii` + `</div>`,
            {"sticky": true}
        );
        
</script>