<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_5a8324d9dbb540158801f216bcdcd783 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_5a8324d9dbb540158801f216bcdcd783" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_5a8324d9dbb540158801f216bcdcd783 = L.map(
        'map_5a8324d9dbb540158801f216bcdcd783', {
        center: [29.892464, 11.576124],
        zoom: 1.5,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_b7988f343e4f4ab68aebc41154a131ed = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_5a8324d9dbb540158801f216bcdcd783);
    
            var feature_group_9dc18a2685e142c08cdbd8edb2000bbb = L.featureGroup(
                ).addTo(map_5a8324d9dbb540158801f216bcdcd783);
        
    
            var circle_marker_de938efc0b7e442ebef79d3d246db672 = L.circleMarker(
                [19.7428333, -155.7885],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10.1515536,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_9dc18a2685e142c08cdbd8edb2000bbb);
            
    
            var popup_c2cedc0f5f9c4ee094870f9f7f01d2e5 = L.popup({maxWidth: '100%'
            
            });

            
                var html_40070c6c4673463a9e500012661c88d2 = $(`<div id="html_40070c6c4673463a9e500012661c88d2" style="width: 100.0%; height: 100.0%;">Magnitude: 5.34 Zeitpunkt: Sun Apr 14 05:09:02 2019</div>`)[0];
                popup_c2cedc0f5f9c4ee094870f9f7f01d2e5.setContent(html_40070c6c4673463a9e500012661c88d2);
            

            circle_marker_de938efc0b7e442ebef79d3d246db672.bindPopup(popup_c2cedc0f5f9c4ee094870f9f7f01d2e5)
            ;

            
        
    
        circle_marker_de938efc0b7e442ebef79d3d246db672.bindTooltip(
            `<div>`
            + `20km E of Kalaoa, Hawaii` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_d1e33eeadcb94ef48299700ed97d93d2 = L.circleMarker(
                [-1.8518, 122.5527],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 20.96213333333333,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_9dc18a2685e142c08cdbd8edb2000bbb);
            
    
            var popup_b53b8947bbe14c50bdb1821bef70655b = L.popup({maxWidth: '100%'
            
            });

            
                var html_630299beb17341bfa2ff99bfaa1501e1 = $(`<div id="html_630299beb17341bfa2ff99bfaa1501e1" style="width: 100.0%; height: 100.0%;">Magnitude: 6.8 Zeitpunkt: Fri Apr 12 13:40:49 2019</div>`)[0];
                popup_b53b8947bbe14c50bdb1821bef70655b.setContent(html_630299beb17341bfa2ff99bfaa1501e1);
            

            circle_marker_d1e33eeadcb94ef48299700ed97d93d2.bindPopup(popup_b53b8947bbe14c50bdb1821bef70655b)
            ;

            
        
    
        circle_marker_d1e33eeadcb94ef48299700ed97d93d2.bindTooltip(
            `<div>`
            + `102km SSW of Luwuk, Indonesia` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_47c8326e76e14b80988be3443b8adcfc = L.circleMarker(
                [-58.5931, -25.2804],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 18.308333333333334,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_9dc18a2685e142c08cdbd8edb2000bbb);
            
    
            var popup_2bc87f41a0cf42eeb6a6e1fc94a74d44 = L.popup({maxWidth: '100%'
            
            });

            
                var html_a1acf23d727749bd9d7ae2720d00213a = $(`<div id="html_a1acf23d727749bd9d7ae2720d00213a" style="width: 100.0%; height: 100.0%;">Magnitude: 6.5 Zeitpunkt: Tue Apr  9 19:53:59 2019</div>`)[0];
                popup_2bc87f41a0cf42eeb6a6e1fc94a74d44.setContent(html_a1acf23d727749bd9d7ae2720d00213a);
            

            circle_marker_47c8326e76e14b80988be3443b8adcfc.bindPopup(popup_2bc87f41a0cf42eeb6a6e1fc94a74d44)
            ;

            
        
    
        circle_marker_47c8326e76e14b80988be3443b8adcfc.bindTooltip(
            `<div>`
            + `86km NE of Bristol Island, South Sandwich Islands` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_f64a978d4d074f19a51d0bc3fdeed3c4 = L.circleMarker(
                [-6.8491, 125.0425],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 16.6698,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_9dc18a2685e142c08cdbd8edb2000bbb);
            
    
            var popup_6432bee32fe84af598aa81ad697a82e8 = L.popup({maxWidth: '100%'
            
            });

            
                var html_c6b6a19fc6d245828983c939cbe7dfa6 = $(`<div id="html_c6b6a19fc6d245828983c939cbe7dfa6" style="width: 100.0%; height: 100.0%;">Magnitude: 6.3 Zeitpunkt: Sat Apr  6 23:55:01 2019</div>`)[0];
                popup_6432bee32fe84af598aa81ad697a82e8.setContent(html_c6b6a19fc6d245828983c939cbe7dfa6);
            

            circle_marker_f64a978d4d074f19a51d0bc3fdeed3c4.bindPopup(popup_6432bee32fe84af598aa81ad697a82e8)
            ;

            
        
    
        circle_marker_f64a978d4d074f19a51d0bc3fdeed3c4.bindTooltip(
            `<div>`
            + `197km NNW of Dili, East Timor` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_4f8d0a317d3d488eb8b91fed739735af = L.circleMarker(
                [-55.9323, -27.8457],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 18.308333333333334,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_9dc18a2685e142c08cdbd8edb2000bbb);
            
    
            var popup_ef5786f43cee4617a35bf3bfa4d019de = L.popup({maxWidth: '100%'
            
            });

            
                var html_b0ae1eaed06443a1a05e4fb035e0ce4c = $(`<div id="html_b0ae1eaed06443a1a05e4fb035e0ce4c" style="width: 100.0%; height: 100.0%;">Magnitude: 6.5 Zeitpunkt: Fri Apr  5 18:14:16 2019</div>`)[0];
                popup_ef5786f43cee4617a35bf3bfa4d019de.setContent(html_b0ae1eaed06443a1a05e4fb035e0ce4c);
            

            circle_marker_4f8d0a317d3d488eb8b91fed739735af.bindPopup(popup_ef5786f43cee4617a35bf3bfa4d019de)
            ;

            
        
    
        circle_marker_4f8d0a317d3d488eb8b91fed739735af.bindTooltip(
            `<div>`
            + `94km NNW of Visokoi Island, South Georgia and the South Sandwich Islands` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_55591e7c880b4e469e3b9e11df88d564 = L.circleMarker(
                [33.866, -117.7276667],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 3.1363920666666663,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_9dc18a2685e142c08cdbd8edb2000bbb);
            
    
            var popup_9c360acbf8cf47d79ef5fe5ff958e390 = L.popup({maxWidth: '100%'
            
            });

            
                var html_3fa736cbcf814e2f94907248ec1bc2fe = $(`<div id="html_3fa736cbcf814e2f94907248ec1bc2fe" style="width: 100.0%; height: 100.0%;">Magnitude: 3.61 Zeitpunkt: Wed Apr  3 14:06:22 2019</div>`)[0];
                popup_9c360acbf8cf47d79ef5fe5ff958e390.setContent(html_3fa736cbcf814e2f94907248ec1bc2fe);
            

            circle_marker_55591e7c880b4e469e3b9e11df88d564.bindPopup(popup_9c360acbf8cf47d79ef5fe5ff958e390)
            ;

            
        
    
        circle_marker_55591e7c880b4e469e3b9e11df88d564.bindTooltip(
            `<div>`
            + `8km ESE of Yorba Linda, CA` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_c53884616dfe403daa41b3e6d7809555 = L.circleMarker(
                [52.1553, 178.0705],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 17.47626666666667,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_9dc18a2685e142c08cdbd8edb2000bbb);
            
    
            var popup_f3230c09128246a6a7629e80716f5aaa = L.popup({maxWidth: '100%'
            
            });

            
                var html_41e1402399104089bbc833548d9a80e5 = $(`<div id="html_41e1402399104089bbc833548d9a80e5" style="width: 100.0%; height: 100.0%;">Magnitude: 6.4 Zeitpunkt: Tue Apr  2 23:35:30 2019</div>`)[0];
                popup_f3230c09128246a6a7629e80716f5aaa.setContent(html_41e1402399104089bbc833548d9a80e5);
            

            circle_marker_c53884616dfe403daa41b3e6d7809555.bindPopup(popup_f3230c09128246a6a7629e80716f5aaa)
            ;

            
        
    
        circle_marker_c53884616dfe403daa41b3e6d7809555.bindTooltip(
            `<div>`
            + `32km E of Kiska Volcano, Alaska` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_8f4e3d91a05144c68c0526b53104db48 = L.circleMarker(
                [-1.9858, -80.8081],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 15.888533333333335,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_9dc18a2685e142c08cdbd8edb2000bbb);
            
    
            var popup_b09ced8e24eb4519828631d9a40fabb6 = L.popup({maxWidth: '100%'
            
            });

            
                var html_08dec0731d9640af81cf34357888b94c = $(`<div id="html_08dec0731d9640af81cf34357888b94c" style="width: 100.0%; height: 100.0%;">Magnitude: 6.2 Zeitpunkt: Sun Mar 31 09:04:04 2019</div>`)[0];
                popup_b09ced8e24eb4519828631d9a40fabb6.setContent(html_08dec0731d9640af81cf34357888b94c);
            

            circle_marker_8f4e3d91a05144c68c0526b53104db48.bindPopup(popup_b09ced8e24eb4519828631d9a40fabb6)
            ;

            
        
    
        circle_marker_8f4e3d91a05144c68c0526b53104db48.bindTooltip(
            `<div>`
            + `27km N of Santa Elena, Ecuador` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_2d8991dc5c484fdeb7e7e8485b446b6b = L.circleMarker(
                [4.5629, -76.2231],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 15.132066666666665,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_9dc18a2685e142c08cdbd8edb2000bbb);
            
    
            var popup_9bf35dea458646959ab9d7392178f41a = L.popup({maxWidth: '100%'
            
            });

            
                var html_6a392fb6a08e47ce90d929767f47da57 = $(`<div id="html_6a392fb6a08e47ce90d929767f47da57" style="width: 100.0%; height: 100.0%;">Magnitude: 6.1 Zeitpunkt: Sat Mar 23 20:21:18 2019</div>`)[0];
                popup_9bf35dea458646959ab9d7392178f41a.setContent(html_6a392fb6a08e47ce90d929767f47da57);
            

            circle_marker_2d8991dc5c484fdeb7e7e8485b446b6b.bindPopup(popup_9bf35dea458646959ab9d7392178f41a)
            ;

            
        
    
        circle_marker_2d8991dc5c484fdeb7e7e8485b446b6b.bindTooltip(
            `<div>`
            + `3km WSW of Versalles, Colombia` + `</div>`,
            {"sticky": true}
        );
        
    
            var circle_marker_59ab6c68d50c4ec592678228398ea3ac = L.circleMarker(
                [-15.5965, 167.6551],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#FF0000",
  "fillOpacity": 0.6,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 16.6698,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(feature_group_9dc18a2685e142c08cdbd8edb2000bbb);
            
    
            var popup_c9e4fc12dba745228c6134cfaab5c524 = L.popup({maxWidth: '100%'
            
            });

            
                var html_015ed9474773412bae7bc8c7a8f17038 = $(`<div id="html_015ed9474773412bae7bc8c7a8f17038" style="width: 100.0%; height: 100.0%;">Magnitude: 6.3 Zeitpunkt: Wed Mar 20 16:23:58 2019</div>`)[0];
                popup_c9e4fc12dba745228c6134cfaab5c524.setContent(html_015ed9474773412bae7bc8c7a8f17038);
            

            circle_marker_59ab6c68d50c4ec592678228398ea3ac.bindPopup(popup_c9e4fc12dba745228c6134cfaab5c524)
            ;

            
        
    
        circle_marker_59ab6c68d50c4ec592678228398ea3ac.bindTooltip(
            `<div>`
            + `52km E of Luganville, Vanuatu` + `</div>`,
            {"sticky": true}
        );
        
</script>